/* Border */
/* Precisamos definir para a borda: espessura, tipo (estilo) e cor */
h1 {
    /* Espessura: */
    border-width: 5px;
    /* Tipo: */
    border-style: solid;
    /* Cor: */
    border-color: rgb(255, 0, 0);
    /*Para reduzir isso tudo em uma linha só: Border - Shorthand*/
    border: 5px solid red;
}

.texto {
    border: 2px dashed #0000FF;
}

/* Width = Largura */
h1 {
    width: 200px;
    text-align: center;
}

p {
    width: 500px;
}

/* Height = Altura */
h1 {
    height: 100px;
}

p {
    height: 500px;
}

/* Padding = Preenchimento */
h1 {
    padding-top: 50px;
    padding-left: 50px;
}

#titulo {
    border: 2px dotted salmon;
    width: fit-content;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/* Padding-inline (mesmo espaçamento na direita e esquerda) e Padding-block (mesmo espaçamento em cima e embaixo) */
.paragrafo {
    border: 2px double salmon;
    width: fit-content;
    height: fit-content;

    padding-inline: 20px;
    padding-block: 40px;
}

/* Shorthand do Padding */
.shorthand{
    border: 2px double plum;
    width: fit-content;

    /* todos os lados na mesma medida */
    padding: 25px;

    /* se quiser colocar em cima e embaixo num valor e outro valor para esquerda e direita: */
    padding: 20px 40px;

    /* em cima uma coisa + esquerda e direita outra + embaixo outra */
    padding: 30px 60px 10px;

    /* cima + direita + embaixo + esquerda */
    padding: 10px 20px 30px 40px;
}

/* Margin = margem / espaço externo / entre os elementos */
h1 {
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 60px;
}

/* para centralizar no navegador o elemento */
.texto {
    margin-inline: auto;
}

.paragrafo {
    margin: 30px 50px;
}